.carts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
@media screen and (max-width: 1200px) {
    .carts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    .carts {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .carts {
        grid-template-columns: 1fr;
    }
}