.immg {
    height: 100%;
    width: 26%;
    object-fit: fill;
    border-radius: 8px 0px 0px 8px;
}
.container {
    margin: auto 11vw;
}

.cart {
    background-color: #212f30;
    display: flex;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 14vw;

}

.content {
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

}

.artist {
    display: flex;
    align-items: center;
    background-color: #091010;
    height: 70px;
    width: 60%;
    min-width: 300px;
    border-radius: 100px;
    margin: 20px 30px;
    align-items: center;

}
.desAndDownload {
    display: flex;
    justify-content: space-between;

}

.desAndDownload .delete button{
    margin-top: 0;
    height: 40px;
}

.desAndDownload textarea{
    width: 85%;
    font-size: 16px;
    background-color: #3d4e50;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    border: none;
    outline: none;
    margin: 20px 20px 0px 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 85%;


    margin-left: 30px;
}
.buttons button{
    height: 60px;
    width: 10vw;
    margin-right: 30px;
}
.downloadButton {
    border: 1px solid #B5FBF9!important;
    text-align: center!important;
    color: #B5FBF9!important;
    width: 6vw!important;
    cursor: pointer!important;
    font-weight: 600!important;
    font-size: 20px!important;
    margin-right: -40px!important;
    background: rgba(255, 255, 255, 0);
}

.name_and_price {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;

}

.name {
    font-size: 18px;
}

.price {
    color: #61dafb;
    font-size: 20px;
}
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.60);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    overflow: auto;
}
