.immg {
    height: 100%;
    width: 26%;
    border-radius: 8px 0px 0px 8px;
}
.container {
    margin: auto 6vw;
}

.cart {
    background-color: #212f30;
    display: flex;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 14vw;

}
.auth_btn {
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid #B5FBF9;
    text-align: center;
    color: #B5FBF9;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.content {
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.des {
    display: flex;
    text-align: left;
    background-color: #091010;
    height: 7vw;
    width: 100%;
    min-width: 300px;
    border-radius: 16px;
    margin: 20px 30px;
    align-items: center;

}
.artist_and_delete {
    display: flex;
    justify-content: space-between;

}
.artist_and_delete .delete{
    margin: 20px;
}
.artist_and_delete .delete button{
    margin-top: 0;
    height: 40px;
}

.des img {
    width: 70px;
    height: 70px;
    border-radius: 100px    ;
}

.des textarea {
    margin-left: 20px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    min-height: 1px;
    padding: 0px;
    font-size: 16px;
    color: white;
    border: none;
}

.tags {
    display: flex;
    margin-left: 30px;
    float: right;
    margin-right: 30px;
}
.tag {
    background-color: #091010;
    padding: 15px;
    border-radius: 120px;
    margin-right: 10px;

}

.name_and_price {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;

}

.name {
    font-size: 18px;
}

.price {
    color: #61dafb;
    font-size: 20px;
}
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.60);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    overflow: auto;
}
